name: Release

on:
  push:
    tags:
      - '*'

jobs:
  createrelease:
    name: Create Release
    runs-on: [ubuntu-latest]
    steps:
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
  build:
    name: Build packages
    needs: createrelease
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout sources'
      uses: actions/checkout@v3
    - name: 'Setup NodeJS'
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'
    - name: 'Force HTTPS'
      run: git config --global url."https://github".insteadOf ssh://git@github
    - name: 'Install dependencies'
      run: yarn install
    - name: 'Compile TypeScript'
      run: yarn build
    - name: 'Create distribution'
      run: yarn dist:build && yarn dist:pkg
    - name: 'Add assets to release'
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          mudslide-linuxstatic-x64
          mudslide-linuxstatic-arm64
          mudslide-win-x64.exe
